*{
    margin: 0;
    padding: 0;

}
main{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
header{
    width: 90%;
    margin: auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1vmax solid lightgrey;
}
header .mid{
    display: flex;
    gap:1vw;
    font-size: clamp(12px,1vw,25px);
}
.mid a{
    text-decoration: none;
    color: white;
}
header button{
    padding: 1vmax 1.5vmax;
    background-color: green;
    border-radius: clamp(12px,2vw,24px);
    border: none;
    cursor: pointer;
}

